.contenedorDonate {
	width: 100%;
	overflow: hidden;
	padding: 0 0;
}
.bodyDonate {
	font-family: "Quicksand", sans-serif;
	background-image: url(../assets/backDonate.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	max-width: 1920px;
}
